<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ci_cd_example.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>63247DF62A6883743CE5EDB0CFFDA727DBE05261</string>
				<key>dateExpires</key>
				<string>20/06/2025</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>63247DF62A6883743CE5EDB0CFFDA727DBE05261</string>
						<key>dateExpires</key>
						<string>20/06/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D7ZNW2XCPQ</string>
						<key>name</key>
						<string>Mutasem Mansour</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>63247DF62A6883743CE5EDB0CFFDA727DBE05261</string>
						<key>dateExpires</key>
						<string>20/06/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D7ZNW2XCPQ</string>
						<key>name</key>
						<string>Mutasem Mansour</string>
					</dict>
					<key>versionNumber</key>
					<string>11.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>63247DF62A6883743CE5EDB0CFFDA727DBE05261</string>
						<key>dateExpires</key>
						<string>20/06/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D7ZNW2XCPQ</string>
						<key>name</key>
						<string>Mutasem Mansour</string>
					</dict>
					<key>versionNumber</key>
					<string>11.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>63247DF62A6883743CE5EDB0CFFDA727DBE05261</string>
						<key>dateExpires</key>
						<string>20/06/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D7ZNW2XCPQ</string>
						<key>name</key>
						<string>Mutasem Mansour</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>63247DF62A6883743CE5EDB0CFFDA727DBE05261</string>
						<key>dateExpires</key>
						<string>20/06/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D7ZNW2XCPQ</string>
						<key>name</key>
						<string>Mutasem Mansour</string>
					</dict>
					<key>versionNumber</key>
					<string>8.0.2</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>D7ZNW2XCPQ.com.mustasem.cicd</string>
				<key>com.apple.developer.team-identifier</key>
				<string>D7ZNW2XCPQ</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>3fa1393c-06ae-4426-b174-39ff0c688bd6</string>
				<key>dateExpires</key>
				<string>23/06/2025</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>D7ZNW2XCPQ</string>
				<key>name</key>
				<string>Mutasem Mansour</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
